<template>
  <div class="versions-wrapper">
    <h3 class="subtitle">Versions:</h3>
    <div class="versions" v-if="versions.length">
      <ImageVersion v-for="version in versions" :key="version.id"
        :id="version.id"
        :title="version.title"
        :description="version.description"
        :created_at="version.created_at"
      />
    </div>
    <p v-else>
      No versions available.
    </p>
  </div>
</template>

<script>
import ImageVersion from "@/components/image/versions/ImageVersion.vue";

export default {
  name: "ImageVersions",
  props: ["versions"],
  components: {
    ImageVersion
  }
};
</script>

<style lang="scss" scoped>
.versions {
  border: 1px solid $color-light;
}
</style>
