<template>
  <div class="version" :data-version-id="id">
    <div class="version-title">
      <span class="version-name">{{ title }}</span>
      <span class="version-date">{{ created_at }}</span>
    </div>

    <hr>

    <div class="version-description">{{ description }}</div>
  </div>
</template>

<script>
export default {
  name: "ImageVersion",
  props: ["id", "title", "description", "created_at"]
};
</script>

<style lang="scss" scoped>
.version {
  border: 1px solid $color-light;
  margin: 5px;
  padding: 3px 8px 6px;
  border-radius: 3px;
  .version-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .version-name {
      font-weight: 600;
      color: $color-version;
    }
    .version-date {
      opacity: 0.6;
      font-size: 0.8rem;
    }
  }
  &.active {
    background-color: #d6ffe9;
    .version-name {
      font-weight: bold;
    }
    .version-description {
      font-weight: 600;
    }
  }
}
</style>
