<template>
  <div class="favs-image">
    <a :href="'/images/' + id">
      <img :src="'/img/gallery/' + path" :alt="title" height="120">
    </a>
  </div>
</template>

<script>
export default {
  name: "FavoriteImage",
  props: ["id", "title", "path", "author_id"],
  created() {
    // TODO add jQuery
    // $(".favs-images").slick({
    //   infinite: false,
    //   slidesToShow: 2,
    //   slidesToScroll: 2,
    //   swipeToSlide: true,
    //   variableWidth: true
    // });
  }
};
</script>

<style lang="scss" scoped>
.favs-image {
  &:not(:first-child) {
    margin-left: 15px;
  }
}
</style>
