<template>
  <div>
    <h2 class="title">
      <i class="material-icons md-26">person</i>
      <span class="title-text">{{ name }}</span>
    </h2>

    <hr class="hr-thick mb-2 mt-0">

    <h3 class="subtitle">Status:</h3>
    <div class="status-text">{{ status }}</div>

    <hr class="hr-thick my-3">

    <h3 class="subtitle" v-html="'Favorite images: ' + favorites.length"></h3>
    <div class="favs-slider"></div>
    <div class="favs-images">
      <FavoriteImage v-for="favorite in favorites" :key="favorite.id"
        :id="favorite.id"
        :title="favorite.title"
        :path="favorite.path"
        :author_id="favorite.author_id"
      />
    </div>
  </div>
</template>

<script>
import FavoriteImage from "@/components/profile/FavoriteImage";

export default {
  name: "ProfileInfo",
  components: {
    FavoriteImage
  },
  props: ["name", "status", "favorites"],
  updated() {
    // console.log('allFavs:', document.querySelectorAll('.favs-image'));

    // TODO
    $(".favs-images").slick({
      infinite: false,
      slidesToShow: 2,
      slidesToScroll: 2,
      swipeToSlide: true,
      variableWidth: true
    });
  }
};
</script>

<style lang="scss" scoped>
.status-text {
  font-style: italic;
  color: $color-primary;
  font-size: 1.1em;
}
.favs-images {
  display: flex;
  margin: 0 25px;
}
</style>
