<template>
  <div class="profile-pic" :style="style"></div>
</template>

<script>
export default {
  name: 'ProfilePicture',
  props: ['image_path'],
  data() {
    return {
      profilePicture: this.image_path
    }
  },
  computed: {
    style() {
      return 'background-image: url(\"' + this.profilePicture + '\")';
    }
  }
};
</script>

<style lang="scss" scoped>
.profile-pic {
  height: 300px;
  width: 300px;
  margin: auto;
  border: 1px solid $color-light;
  border-radius: 3px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease;
  &:hover {
    background-size: 83%;
  }
}
</style>
