<template>
  <div class="col-md-6 m-auto" v-if="viewIsGrid">
    <div class="img-wrapper uploaded-item-grid">
      <a :href="'/images/' + id" class="img-link">
        <img :src="'/img/gallery/' + path" :alt="'Image ' + id">
      </a>
      <div class="img-info">
        <span class="img-description">{{ description }}</span>
        <div class="img-ops">
          <button class="btn-icon favorite">
            <i class="material-icons">favorite_border</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" v-else>
    <div class="uploaded-item-table">
      <a :href="'/images/' + id" class="img-link">
        <img :src="'/img/gallery/' + path" :alt="'Image ' + id" width="80">
      </a>

      <a :href="'/images/' + id" class="img-description ml-3 mr-auto">{{ description }}</a>

      <button class="btn-icon favorite">
        <i class="material-icons">favorite_border</i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "UploadedImage",
  props: ["id", "path", "description", "viewIsGrid"]
};
</script>

<style lang="scss" scoped>
.img-wrapper {
  margin: 25px 50px;
  height: auto;
  .img-info {
    height: 80px;
  }
}
.uploaded-item-table {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  background-color: azure;
  margin: auto 50px;
  border-radius: 5px;
  padding-right: 20px;
  .img-link {
    width: 150px;
    border-right: 1px solid #eee;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(.17,.84,.44,1);
    &:hover {
      transform: scale(1.3);
      z-index: 1;
      margin-right: 30px;
      box-shadow: 1px 2px 10px #DDD;
    }
  }
  .img-description {
    font-weight: bold;
    font-size: 1.2rem;
  }
  i {
    font-size: 1.5rem;
  }
}
.uploaded-item-table {
  margin-top: 10px;
}
div:first-child > .uploaded-item-table {
  margin-top: 20px;
}
</style>
