<template>
  <main class="image-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nuxt-link to="/" class="back-button">
            <i class="material-icons">keyboard_return</i>
            <span>Back</span>
          </nuxt-link>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <div class="image-wrapper">
            <div class="row">
              <div class="col-md-7">
                <div class="big-image">
                  <div class="top-version-detail" v-if="active_version.id">
                    {{ active_version.title }}
                  </div>
                  <img
                    :src="
                    image.path ?
                      '/img/gallery/' + image.path : 
                      '/img/ajax-loader.gif'
                    "
                  >
                </div>
              </div>
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-12">
                    <div class="title-wrapper">
                      <h2 class="title top">
                        <i class="material-icons">favorite_border</i>
                        <span class="title-text">{{ image.title }}</span>
                      </h2>

                      <nuxt-link :to="'/users/' + image.author_id" class="author">
                        <i class="material-icons">person</i>
                        <span>{{ image.author }}</span>
                      </nuxt-link>
                    </div>

                    <hr class="hr-thick">

                    <div class="tags-wrapper">
                      <h3 class="subtitle">Tags:</h3>
                      <div class="tags">
                        <span class="tag" v-for="tag in image.tags" :key="tag">{{ tag }}</span>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-6">
                        <form>
                          <div class="form-group">
                            <select class="form-control form-control-sm">
                              <option selected disabled>Download JPG ...</option>
                              <option value>1200×800</option>
                              <option value>1024×768</option>
                              <option value>800×600</option>
                              <option value>400×280</option>
                            </select>
                          </div>
                        </form>
                      </div>
                    </div>

                    <hr>

                    <ImageVersions :versions="image.versions"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <Comments :comments="image.comments"/>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";
import ImageVersions from "@/components/image/versions/ImageVersions";
import Comments from "@/components/image/comments/Comments";

export default {
  components: {
    ImageVersions,
    Comments
  },
  data() {
    return {
      image: {
        versions: []
      },
      active_version: {},
      empty_version: {
        id: 0,
        title: "",
        description: "",
        created_at: ""
      },
      image_loading_url: ""
    };
  },
  async created() {
    const config = {
      headers: {
        Accept: "application/json"
      }
    };

    try {
      const id = this.$route.params.id;
      const res = await axios.get(
        `http://localhost/uxia/api.php?action=image&id=${id}`,
        config
      );

      this.image = res.data;
      this.active_version = this.image.versions[0] || this.empty_version;

      console.log("Image:", this.image);
      console.log("Active version:", this.active_version);
    } catch (err) {
      console.log(err);
    }
  },
  head() {
    return {
      title: this.image.title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Image detail"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.image-wrapper {
  border: 1px solid $color-light;
  padding: 8px;
  border-radius: 3px;
}
.back-button {
  color: $color-primary;
  font-weight: bold;
}
.big-image {
  border: 1px solid #00506433;
  width: 100%;
  position: relative;
  .top-version-detail {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #00506433;
    border-left-style: none;
    border-top-style: none;
    border-bottom-right-radius: 10px;
    background-color: #fffc;
    padding: 2px 10px;
    color: $color-version;
  }
  img {
    display: block;
    width: 100%;
  }
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tags {
  .tag {
    background-color: $color-primary;
    color: $color-white;
    padding: 2px 8px;
    border-radius: 5px;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
</style>
