<template>
  <header>
    <nav class="main-nav">
      <ul class="nav-links">
        <nuxt-link to="/" tag="li" class="nav-link">
          <a>
            <i class="material-icons">subject</i>
            <span>Home</span>
          </a>
        </nuxt-link>
        <nuxt-link to="/favorites" tag="li" class="nav-link">
          <a>
            <i class="material-icons">favorite</i>
            <span>Favorites</span>
          </a>
        </nuxt-link>
        <nuxt-link to="/categories" tag="li" class="nav-link">
          <a>
            <i class="material-icons">filter_list</i>
            <span>Categories</span>
          </a>
        </nuxt-link>
        <nuxt-link to="/my_images" tag="li" class="nav-link">
          <a>
            <i class="material-icons">person</i>
            <span>My images</span>
          </a>
        </nuxt-link>
      </ul>
    </nav>

    <div class="nav-profile">
      <nuxt-link :to="'/users/' + user_id" class="username">
        Billy
        <i class="material-icons">person</i>
      </nuxt-link>
      <div class="dropdown">
        <a
          href="#"
          class="btn dropdown-toggle"
          id="dropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>

        <div
          class="more-links dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuLink"
        >
          <nuxt-link to="#" class="dropdown-item">Action</nuxt-link>
          <nuxt-link to="#" class="dropdown-item">Action 2</nuxt-link>
          <div class="dropdown-divider"></div>
          <nuxt-link to="#" class="dropdown-item">Logout</nuxt-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "AppHeader",
  props: ["user_id"]
};
</script>

<style lang="scss" scoped>
header {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  margin: auto;
  font-size: 1.25rem;
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    .nav-link {
      background: white;
      border: 3px solid $color-secondary;
      border-radius: 11px;
      padding: 6px 15px;
      margin: 12px 6px;
      display: flex;
      align-items: center;
      min-width: 160px;
      justify-content: center;
      a {
        color: $color-primary;
      }
      &.nuxt-link-exact-active {
        border-color: $color-version;
        font-weight: bold;
        i,
        span {
          color: $color-version;
        }
      }
    }
  }
}

.nav-profile {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: $color-white;
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 25px;
  a,
  i {
    color: $color-white;
  }
  .more-links a {
    color: $color-primary;
  }
}
</style>
