<template>
  <div class="col-md-4">
    <div class="img-wrapper" :data-img-id="id">
      <span class="img-new-info"></span>
      <span class="img-tags">tag1, tag2, tag2</span>
      <nuxt-link :to="'/images/' + id" class="img-link">
        <img :src="'/img/gallery/' + path" :alt="'image_' + id">
      </nuxt-link>
      <div class="img-info">
        <span class="img-description">{{ title }}</span>
        <div class="img-ops">
          <nuxt-link :to="'/users/' + author_id" class="img-author">{{ author }}</nuxt-link>
          <span class="v-separator"></span>
          <button class="btn-icon favorite" @click="$emit('toggle-favorite')">
            <i class="material-icons" v-html="is_favorite ? 'favorite' : 'favorite_border'"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GalleryImage",
  props: ["id", "title", "author", "author_id", "path", "is_favorite"]
};
</script>

<style>
</style>
