<template>
  <div class="search-tag" :class="compInverted">
    <button class="search-tag-invert" type="button" @click="toggleInverted">
      <i class="material-icons">block</i>
    </button>
    <span class="v-separator"></span>
    <span class="search-tag-text">{{ text }}</span>
    <button class="search-tag-remove" type="button" @click="removeTag">
      <i class="material-icons">close</i>
    </button>
  </div>
</template>

<script>
export default {
  name: "SearchTag",
  props: ["text", "inverted"],
  methods: {
    toggleInverted() {
      console.log('Toggling inverted');
      this.$emit("toggle-inverted", this.text);
    },
    removeTag() {
      this.$emit("remove-tag", this.text);
    }
  },
  computed: {
    compInverted() {
      return {
        disabled: this.inverted
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.search-tag {
  border: 1px solid $color-primary;
  border-radius: 11px;
  display: flex;
  align-items: center;
  padding: 1px;
  font-weight: 600;
  button {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    margin: 3px 5px;
  }
  .search-tag-invert {
    font-size: 1.5em;
    display: flex;
    i {
      color: #fadbdb;
    }
    &:focus {
      outline: 0;
    }
  }
  .search-tag-text {
    color: $color-secondary;
    margin-left: 8px;
    cursor: default;
    &.person {
      color: $color-version;
    }
  }
  .search-tag-remove {
    color: $color-secondary;
    margin-left: 10px;
    i {
      font-size: 0.8em;
    }
  }
  &.mention {
    .search-tag-text {
      color: $color-version;
    }
  }
  &:not(:first-child) {
    margin-left: 5px;
  }
  &.disabled {
    border-color: #ff3434e6;
    .v-separator {
      display: none;
    }
    .search-tag-invert {
      margin: -2px;
      padding: 6px;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      background: #ff3434e6;
      i {
        color: white;
      }
    }
    .search-tag-text {
      opacity: 0.3;
      margin-left: 12px;
      // font-style: italic;
    }
    .search-tag-remove i {
      color: #ff3434e6;
    }
  }
}
</style>
