<template>
  <div class="search">
    <span class="search-label">Search...</span>
    <div class="search-box">
      <div class="search-tags">
        <SearchTag
          v-for="tag in searchTags"
          :key="tag.text"
          :text="tag.text"
          :inverted="tag.inverted"
          @toggle-inverted="toggleInverted"
          @remove-tag="removeTag"
        />
      </div>

      <div class="search-new" v-show="searchToggler.visible" @click="searchNew">
        <i class="material-icons">more_horiz</i>
        <i class="material-icons">create</i>
      </div>
      
      <input
        type="text"
        class="form-control search-input"
        ref="searchInput"
        v-show="searchInput.visible"
        v-model="searchInput.text"
        @keyup.enter.exact="searchNewFinish"
        @keyup.alt.enter="(event) => searchNewFinish(event, true)"
        @keyup.esc.exact="searchNewCancel"
        @blur="searchNewFinish"
      >

      <div class="search-help">
        <button
          type="button"
          class="btn"
          data-toggle="tooltip"
          data-placement="left"
          title="Use @name for usernames."
        >
          <i class="material-icons">help_outline</i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import SearchTag from '@/components/SearchTag';

export default {
  name: "SearchBox",
  components: {
    SearchTag
  },
  data() {
    return {
      searchTags: [],
      searchToggler: {
        visible: true
      },
      searchInput: {
        visible: false,
        text: ""
      }
    };
  },
  methods: {
    toggleInverted(text) {
      console.log("Toggled " + text);
      let tag = this.searchTags.find((t) => t.text === text);
      tag.inverted = !tag.inverted;
      console.log(tag.inverted);
    },
    searchNew(event) {
      this.searchToggler.visible = false;
      this.searchInput.visible = true;
      console.log("Search new started", this.searchToggler.visible);
      console.log("Refs: ", this.$refs.searchInput.$el);

      this.$nextTick(() => this.$refs.searchInput.focus());
    },
    searchNewFinish(event, inverted=false) {
      console.log('search finished', inverted);

      if (this.searchInput.text.length > 0) {
        this.searchTags.push({
          text: this.searchInput.text,
          inverted: inverted
        });
      }

      this.searchInput.visible = false;
      this.searchToggler.visible = true;
      this.searchInput.text = "";
    },
    searchNewCancel(event) {
      console.log('search canceled');

      this.searchInput.visible = false;
      this.searchToggler.visible = true;
      this.searchInput.text = "";
    },
    removeTag(text) {
      let tagIndex = this.searchTags.findIndex((t) => t.text === text);
      if (tagIndex !== -1) {
        this.searchTags.splice(tagIndex, 1);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.search {
  margin-bottom: 20px;
  .search-label {
    font-style: italic;
    opacity: 0.35;
  }
  .search-box {
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    .search-tags {
      display: flex;
    }
    .search-new {
      display: flex;
      margin-left: 8px;
      transition: transform 0.1s ease-in;
      i:first-child {
        position: relative;
        bottom: -4px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    .search-input {
      // display: none;
      width: auto;
      margin-left: 5px;
    }
    .search-help {
      margin-left: auto;
      color: $color-secondary;
      opacity: 0.4;
      cursor: pointer;
    }
  }
}
</style>
