/* GLOBALS */

html,
body,
a {
    font-family: "Segoe UI", sans-serif !important;
    margin: 0;
    color: $color-primary;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h2.title,
h3.subtitle {
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    &.top {
        margin: 0;
    }
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }

hr {
    background-color: $color-hr;
    border: 0;
    margin: 0.5rem 0;
    height: 1px;
}

main {
    margin-bottom: 80px;
}

.hr-thick {
    height: 2px;
}

.v-separator {
    display: inline-block;
    border: 1px solid #FADBDB;
    height: 1.5em;
}

button.btn-icon {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.btn {
    &.btn-primary {
        background-color: $color-primary;
        color: $color-white;
    }
    &.btn-secondary {
        background-color: $color-secondary;
        color: $color-white;
    }
}

.hidden {
    display: none;
}

/* ICONS */
i.material-icons {
    font-size: 0.9em;
    color: $color-primary;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* SLICK */
.slick-prev::before,
.slick-next::before {
    color: $color-primary;
}

/* home.html */
main {
    div.container {
        box-shadow: 0px 6px 15px #CCC;
        background-color: $color-white;
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.img-wrapper {
    display: flex;
    border: 2px solid #EEE;
    border-radius: 3px;
    box-shadow: 0px 3px 10px #EEE;
    position: relative;
    margin-top: 30px;
    height: 260px;
    &:hover {
        .img-info {
            opacity: 0.9;
        }
    }  
}

.img-new-info {
    position: absolute;
    top: -9px;
    right: -10px;
    background-color: #FFA640;
    color: white;
    border-radius: 65px;
    padding: 4px 7px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.96;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
    cursor: default;
    &::after {
        content: "New"
    }
}

.img-tags {
    display: none;
}

.img-link {
    display: flex;
    img {
        width: 100%;
        border-radius: 1px;
        object-fit: contain;
    }
}

.img-info {
    position: absolute;
    bottom: 0;
    background-color: white;
    display: flex;
    padding: 5px 12px;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    box-shadow: 0px -2px 8px #0000001a;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    .img-description {
        font-weight: bold;
        font-size: 1.2em;
        color: $color-secondary;
        padding-right: 10px;
    }
}

.img-ops {
    display: flex;
    align-items: center;
    color: $color-secondary;
    .img-author {
        font-size: 1.1em;
        opacity: 0.4;
        font-weight: 600;
    }
    .v-separator {
        display: inline-block;
        border: 1px solid $color-secondary;
        height: 1.8em;
        margin: 0 8px;
        opacity: 0.4;
    }
    .favorite {
        opacity: 0.4;
    }
    i {
        font-size: 1.5em;
    }
}

.title-line {
    margin: 0;
    .title-label {
        position: relative;
        top: -4px;
    }
}

/* Nuxt page transitions */
.page-enter-active, .page-leave-active {
    transition: all 0.2s;
}

.page-enter, .page-leave-active {
    opacity: 0;   
}

