<template>
  <div>
    <AppHeader
      :user_id="user_id"
    />
    
    <nuxt />
    
  </div>
</template>

<script>
import AppHeader from '../components/AppHeader';

export default {
  components: {
    AppHeader
  },
  data() {
    return {
      user_id: 1
    };
  },
  head() {
    return {
      script: [
        { src: '/js/jquery-3.4.1.min.js', async: true },
        { src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' },
        { src: '/js/bootstrap/bootstrap.bundle.min.js' },
        { src: '/js/slick/slick.min.js', async: true }
      ]
    }
  }
}
</script>

<style>
</style>
