<template>
  <div class="error-wrapper">
    <p class="smiley">&#128579</p>
    <h1>Error 404 &ndash; Page not found!</h1>
    <p>You probably didn't want to get here.</p>

    <nuxt-link to="/" class="return-link">Return to the homepage</nuxt-link>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: calc(70vh - 36px);
  margin: auto;
  .smiley {
    font-size: 2.5rem;
  }
  .return-link {
    display: block;
    font-size: 1.1rem;
    border: 1px solid #005064;
    border-radius: 5px;
    padding: 5px 18px;
    transition: all 0.15s cubic-bezier(.22,.61,.36,1);
    &:hover {
      background-color: #005064;
      color: #FCFDFF;
    }
  }
}
</style>
