<template>
  <main class="home">
    <div class="container">
      <SearchBox />
      
      <hr class="hr-thick">

      <div class="gallery">
        <div class="row">
            <GalleryImage v-for="image in images" :key="image.id"
              :id="image.id"
              :title="image.title"
              :author="image.author"
              :author_id="image.author_id"
              :path="image.path"
              :is_favorite="image.is_favorite"
              @toggle-favorite="toggleFavorite(image.id)"
            />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from 'axios';
import SearchBox from '@/components/SearchBox';
import GalleryImage from '@/components/GalleryImage';

export default {
  components: {
    SearchBox, GalleryImage
  },
  data() {
    return {
      user_id: 1,
      images: []
    };
  },
  async created() {
    const config = {
      headers: {
        Accept: "application/json"
      }
    };

    try {
      const res = await axios.get(
        `http://localhost/uxia/api.php?action=images`,
        config
      );

      this.images = res.data;
      console.log("images: ", this.images);
    } catch (err) {
      console.log("created error", err);
    }
  },
  methods: {
    async toggleFavorite(image_id) {
      console.log("Top handled toggle favorite", image_id);

      const config = {
        headers: {
          Accept: "application/json"
        }
      };

      try {
        const res = await axios.get(
          `http://localhost/uxia/api.php?action=toggle_favorite&user_id=${this.user_id}&image_id=${image_id}`,
          config
        );

        let favorite_state = res.data.new_state;

        let imageIndex = this.images.findIndex((image) => image.id === image_id);
        if (imageIndex !== -1) {
          this.images[imageIndex].is_favorite = favorite_state;
        }

        console.log("Toggle result:", res.data);
      } catch (err) {
        console.log("toggleFavorite error:", err)
      }
    }
  },
  head() {
    return {
      title: "Gallery",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Index description here"
        }
      ]
    };
  }
};
</script>

<style scoped>
</style>
