<template>
  <div class="comment">
    <div class="comment-inner">
      <h4 class="comment-author">
        <a :href="'/users/' + author_id">
          <i class="material-icons">person</i>
          <span>{{ author }}</span>
        </a>
      </h4>

      <div class="comment-text">{{ text }}</div>
    </div>

    <div class="ml-auto">
      <button class="reply-button">
        <i class="material-icons">reply</i>
        <span>Reply...</span>
      </button>
    </div>

    <span class="v-separator"></span>

    <div class="comment-info">
      <div class="comment-date">{{ created_at }}</div>
      <div class="comment-version">{{ version }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Comment",
  props: ["id", "text", "created_at", "version", "author", "author_id"]
};
</script>

<style lang="scss" scoped>
.comment {
  border-radius: 3px 3px 0 8px;
  border: 1px solid $color-secondary;
  padding: 3px 8px 6px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .comment-author {
    margin-bottom: 0;
    a {
      color: $color-secondary;
    }
  }
  .comment-text {
    margin-left: 18px;
    margin-top: 2px;
  }
  .reply-button {
    border: none;
    background-color: $color-secondary;
    border-radius: 2px 0 0 7px;
    padding: 5px 8px;
    font-weight: 600;
    & * {
      color: white;
    }
  }
  .comment-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    width: 150px;
    .comment-date {
      color: #00506480;
    }
    .comment-version {
      color: $color-version;
    }
  }
  &.active {
    background-color: #d6ffe9;
  }
  &.response {
    margin-top: 0;
    margin-left: 25px;
    border-radius: 0 0 0 8px;
    border-top-style: none;
  }
}
</style>
