<template>
  <div class="comments-wrapper">
    <h2 class="title top">
      <i class="material-icons">comment</i>
      <span>Comments</span>
    </h2>

    <div class="comments">
      <Comment
        v-for="comment in comments"
        :key="comment.id"
        :id="comment.id"
        :text="comment.text"
        :created_at="comment.created_at"
        :vesion="comment.version"
        :author="comment.author"
        :author_id="comment.author_id"
      />
    </div>

    <NewComment/>
  </div>
</template>

<script>
import Comment from "@/components/image/comments/Comment";
import NewComment from "@/components/image/comments/NewComment";

export default {
  name: "Comments",
  components: {
    Comment,
    NewComment
  },
  props: ["comments"]
};
</script>

<style lang="scss" scoped>
.comments-wrapper {
  border: 1px solid $color-light;
  padding: 8px;
  border-radius: 3px;
  .title {
    margin-bottom: 0.8rem;
  }
}
.comments {
  height: 250px;
  overflow: auto;
}
</style>

