<template>
  <div class="comment-new">
    <hr>

    <div class="input-group">
      <textarea
        class="form-control comment-new-textfield"
        placeholder="New comment..."
        aria-label="New comment..."
      ></textarea>
      <div class="input-group-append">
        <button class="btn send-button">Send</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewComment"
};
</script>

<style lang="scss" scoped>
.comment-new {
  .comment-new-textfield {
    resize: none;
  }
  .send-button {
    background-color: #73e2a7;
    color: $color-white;
    font-weight: bold;
  }
}
</style>

