<template>
  <main class="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ProfilePicture :image_path="'/img/users/' + user.avatar_path"/>
        </div>
        <div class="col-md-8">
          <ProfileInfo :name="user.name" :status="user.status" :favorites="user.favorites"/>
        </div>
      </div>

      <hr class="hr-thick my-4">

      <div class="gallery">
        <div class="row">
          <div class="col-md-12">
            <div class="uploaded-title-row">
              <h3 class="subtitle" v-html="'Uploaded images: ' + user.uploads.length"></h3>
              
              <button class="btn btn-secondary btn-toggle-view" @click="toggleView">
                <span v-if="uploadsViewGrid">
                  <i class="material-icons">list</i>
                  <span>Table view</span>
                </span>
                <span v-else>
                  <i class="material-icons">grid_on</i>
                  <span>Grid view</span>
                </span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <UploadedImage
            v-for="image in user.uploads"
            :key="image.id"
            :id="image.id"
            :path="image.path"
            :description="image.title"
            :viewIsGrid="uploadsViewGrid"
          />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";
import ProfilePicture from "@/components/profile/ProfilePicture";
import ProfileInfo from "@/components/profile/ProfileInfo";
import UploadedImage from "@/components/profile/UploadedImage";

export default {
  components: {
    ProfilePicture,
    ProfileInfo,
    UploadedImage
  },
  data() {
    return {
      user: {
        avatar_path: "default.png",
        uploads: [],
        favorites: []
      },
      loaded: false,
      uploadsViewGrid: true
    };
  },
  async created() {
    const config = {
      headers: {
        Accept: "application/json"
      }
    };

    try {
      const id = this.$route.params.id;
      const res = await axios.get(
        `http://localhost/uxia/api.php?action=user&id=${id}`,
        config
      );

      this.user = res.data;
      if (!this.user.avatar_path) {
        this.user.avatar_path = "default.png";
      }

      console.log("User:", this.user);
    } catch (err) {
      console.log(err);
    }
  },
  mounted() {
    this.loaded = true;
  },
  head() {
    return {
      title: this.user.name,
      meta: [
        {
          hid: "description",
          name: "description",
          content: "User detail"
        }
      ],
      script: [
        // { src: '/js/slick/slick.min.js' }
      ]
    };
  },
  methods: {
    toggleView() {
      this.uploadsViewGrid = !this.uploadsViewGrid;
      console.log('Hello click!', this.upload);
    }
  }
};
</script>

<style lang="scss">
.btn-toggle-view {
  i {
    color: $color-white;
  }
}
.uploaded-title-row {
  display: flex;
  justify-content: space-between;
  margin: auto 50px;
}
</style>
